@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
body{
    font-family: 'Work Sans', sans-serif;
    margin:0px
}
/* navbar */
nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-left:120px;
    margin-right: 120px;
    margin-top: 20px;
    margin-bottom: 20px;
}
.logo{display: flex;
gap:20px;
}
.logo img{
    width:87px;
    height: 41px;
    align-self: center;
}
.logo h1{
    font-size: 2.5rem;
    font-weight:700;
    color: #0B0223;
}
.logo h1 span{
    color: #FF42A5 ;

}

.navright{
    display: flex;
    gap:20px;

}
.menu{
    display: flex;
    gap:20px;
}
.follow{
    display: flex;
    justify-content: center;
    gap:10px;
    border-radius: 8px;
    background: rgba(11, 2, 35, 0.10);
    width: 250px;
    height: 56px;

}
.follow img{
    width:auto;
    height:40%;
    align-self: center;
}
.paragraph{
    font-size: 1rem;
    font-weight: 500;

}

/* bannner */
.banner{
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    align-items: center;
   
}
.bannerleftitems{
    margin-left: 120px;
    padding-top: 100px;
    margin-right: 120px;
    margin-bottom: 100px;
   
}
.bannerleft{
    background-image: url(images/Group\ 14.png);
    background-repeat: no-repeat;
    
}
.play{
    font-size: 2rem;
    font-weight: 600;
    color: #0B0223;
    margin-top: 0;
    margin-bottom: 10px;

    
}
.goat{
    font-size: 3rem;
    font-weight: 800;
    background: linear-gradient(180deg, #F948B2 0%, #8758F1 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    margin-top: 0;
    margin-bottom: 10px;

}
.featureitem{
    display: flex;
    align-items: center;
    gap: 5px;
}
.featureitem img{
    height:10%;

}
.leftbutton{
    display: flex;
    margin-top: 20px;
    gap: 20px;
}
.btn{
    color: white;
    padding: 16px 30px;
    border-radius: 50px;
    background:linear-gradient(90deg, #FF42A5 0%, #FF42A5 100%);
    border-style: none;
}
.btn2{
    color: white;
    padding: 16px 30px;
    border-radius: 50px;
    background: #4EC5F7;
    border-style: none;
}
.bannerright{
    margin-right: 120px;
}
.bannerright img{
   
    height:auto;
    width:500px;
}
/* we are gamer */
.wearegamer{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 100px;
    margin-left: 120px;
    margin-right: 120px;
}
.wearegamerrightside{
    display: flex;
    flex-direction: column;
    width: 50%;
    justify-content: center;
    align-items: flex-end;
    text-align: end;
}
.wag{
    font-size: 2rem;
    font-weight: 700;
    background: linear-gradient(180deg, #F948B2 0%, #8758F1 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    margin-top: 0;
    margin-bottom: 0;
}
/* card section */
.cardcontainer{
    display: flex;
    flex-direction: column;
    text-align: center;
    margin-top: 100px;
}
h2{
    font-size: 2rem;
    font-weight: 700;
    color: #0B0223;
    background-clip: text;
    margin-top: 0;
    margin-bottom: 0;

}   
.unleash{
    margin-top: 0;
}
.wearegamerleft img{
    width: 80%;
}
/* card section */
.cards{
    display: flex;
    justify-content: space-between;
    margin-left: 120px;
    margin-right: 120px;
    gap:20px;
    margin-top: 20px;
}
.card{
    display: flex;
    flex-direction: column;
    text-align: left;
    width:280px;
}
/* game feature */
.gamefeaturecontainer1{
    display: flex;
    justify-content: space-between;
    align-items: center;
    
}
.gamefeatureleft1{
    display: flex;
    flex-direction: column;
    text-align: right;
    width:20%;
    margin-top: 100px;
    margin-left: 300px;
}
.gamefeatureright1{
    margin-top: 100px;
    position:relative;
    margin-right: 120px;
}
.featureimg1{
    position: relative;
    width:500px;
}
.featureimg2{
    position:absolute;
    width:200px;
    bottom: -50px;
    left: -100px;
}
/* game feature2 */
.gamefeaturecontainer2{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top:100px;
    
}
.gamefeatureright2{
    display: flex;
    flex-direction: column;
    text-align: left;
    width:20%;
    margin-top: 100px;
    margin-right: 300px;
}
.gamefeatureleft2{
    margin-top: 100px;
    position:relative;
    margin-left: 120px;
}
.featureimg1{
    position: relative;
    width:500px;
}
.featureimg3{
    position: relative;
    width:500px;
}
.featureimg2{
    position:absolute;
    width:200px;
    bottom: -50px;
    right: -100px;
}
.featureimg4{
    position:absolute;
    width:200px;
    bottom: -50px;
    right: -100px;
}
/* careers */
.careers{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: linear-gradient(90deg, #FF42A5 0%, #FF42A5 100%);
    margin-top: 120px; 
    
}
.careersleft{
    display: flex;
    flex-direction: column;
    margin-left:120px;
    width: 40%;
    text-align: left;
}
.careerssectiontitle{
    font-size: 2rem;
    font-weight: 700;
    color: white;
    margin-top: 0;
    margin-bottom: 0;
}
.careerparagraph{
    font-size: 1rem;
    font-weight: 500;
    color: white;

}
.positions{
    display: flex;
    justify-content: space-between;
    margin-bottom: 50px;
}
.postionsleft{
    font-size: 1rem;
    font-weight: 500;
    color: white;
    text-align: left;
}
.positionsright{
    font-size: 1rem;
    font-weight: 500;
    color: white;
    text-align: right;
}
.btn3{
    color: #FF42A5;
    padding: 16px 30px;
    border-radius: 50px;
    background: white;
    border-style: none;
} 
.careersimg{
    display: flex;
    width: 100%;
    height: auto;
    margin-right: 120px;
}
@media screen and (max-width: 576px)
{
    nav{
    display: flex;     
    flex-direction: column;
    margin-top: 20px;
    align-items:center;

    }
    .navright{
    display: flex;
    flex-direction: column;
    margin-top: 20px;
    align-items:center;
    }
    .banner{
        flex-direction: column;
        gap: 20px;
        justify-content: center;
        align-items: center;
    }
    .bannerright img{
        width: 100%;
    }
    .bannerright{
        align-items: center;
        margin: auto;
    }

    .bannerleft{
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100%;
        justify-content: center; 
    }
    .bannerleftitems{
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100%;
        justify-content: center;
    }
    .wearegamer{
        flex-direction: column;
        gap: 20px;
        justify-content: center;
        align-items: center;
        margin: auto;
    }
    .wearegamerleft img{
        width: 100%;
    }
    .wearegamerrightside{display: flex;
       flex-direction: column;
        width: 80%;
        justify-content: center;
        align-items: flex-end;
    }
    .cards{
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        gap:20px;
        margin-top: 20px;
    }
    .gamefeaturecontainer1{
        display: flex;
        flex-direction: column;
        margin-top: 100px;
        align-items: center;
    }
    .gamefeaturecontainer2{
        display: flex;
        flex-direction: column-reverse;
        margin-top: 100px;
        align-items: center;
    }
    .gamefeatureright1{
        
        width: 100%;
        margin: 0px;
    }
    .featureimg1{
        width: 80%;
    }
    .featureimg3{
        width: 80%;
        margin-right: 0px;
        padding: 0px;
    }
    .featureimg2{
        width: 30%;
        bottom: -20px;
        left: 20px;
    }
    .featureimg4{
        width: 30%;
        bottom: -20px;
        right: 20px;
    }
    .gamefeatureleft2{
       
        width: 100%;
        margin:0px
    }
    .gamefeatureleft1{
        width: 100%;
        margin: 0px;
        text-align: center;
    }
    .gamefeatureright2{
        width: 100%;
        margin:0px;
        text-align: center;
    }
    .careers{
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 100px;
    }
    .careersleft{
        display: flex;
        flex-direction: column;
        margin: 100px 0px 0px 0px;
        width: 90%;
        
    }
}